@charset "utf-8";
@import '../scss/utils';

.input {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 5px;
}

.button {
    padding: 10px;
    font-size: 20px;
}

.list {
    padding: 20px;
    width: 280px;
    margin: 20px auto;
    border: 1px solid rgba(#000, 0.3)
}

.item {
    font-size: 18px;
    padding: 0 40px;
    
    & + & {
        margin-top: 20px;
    }
}

.average {
    font-size: 20px;
}
