@charset "utf-8";
@import '../scss/utils';

.section {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(#000, 0.3);
    
    &.none_border {
        border-bottom: none;
    }
}

.title {
    font-size: 30px;
    padding-bottom: 20px;
}
