@charset "utf-8";
@import '../scss/utils';

.wrap {
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 30px;
}

.count,
.fixed_count {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.button_plus {
    margin-top: 20px;
    width: 50px;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 20px;
}
