@charset "utf-8";
@import '../scss/utils';

.list {
    padding: 20px 0;
    border: 1px solid #999;
    max-width: 320px;
    margin: 20px auto 0;
    text-align: left;
}

.item {
    @include ellipsis;
    
    font-size: 18px;
    position: relative;
    padding: 0 40px;
    
    & + & {
        margin-top: 20px;
    }
    
    &:hover {
        font-weight: bold;
    }
}

.input {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 5px;
}

.button {
    padding: 10px;
    font-size: 20px;
}

.delete {
    position: absolute;
    font-size: 16px;
    top: -3px;
    right: 20px;
    padding: 5px;
    color: #999;
}
