@charset "utf-8";
@import '../scss/utils';

.title {
    padding: 20px 0;
    text-align: center;
    line-height: 1.4;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    background-color: #333;
}
