@charset 'utf-8';
@import '../utils';

.wrap {
    width: 100%;
    padding: 55px 1rem 0;
    
    @include media(tablet) {
        box-sizing: border-box;
        width: 768px;
        margin: 0 auto;
    }
}
