@charset 'utf-8';
@import '../utils';

.wrap {
    width: 100%;
    padding: 0 1rem;
    
    @include media(tablet) {
        box-sizing: border-box;
        width: 768px;
        margin: 2rem auto 3rem;
    }
}
