@charset "utf-8";

$font-default: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Apple SD Gothic Neo', 'Arial',
                'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', sans-serif;

$breakpoints: (
    mobile-min: 320px,
    mobile: 375px,
    mobile-only: 767px,
    tablet: 768px,
    pc: 1024px,
) !global;
