@charset "utf-8";
@import '../scss/utils';

.number {
    padding-top: 10px;
    font-size: 20px;
}

.color {
    padding-top: 10px;
    font-size: 20px;
}

.button {
    font-size: 18px;
    padding: 10px;
}
